.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 995px) {
  .App-header {
    background-color: #008e97;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

@media screen and (max-width: 994px) {
  .App-header {
    background-color: #008e97;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}
footer {
  padding: 2px;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #005778;
  font-size: small;
  text-align: center;
}
header {
  padding: 25px;
}
